

  <div  class="main">
    <h1>CONTACT</h1>
  </div>
<div class="container">

<form>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-labe">Nom:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Prenom:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Mail:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group mt-3">
    <button type="submit" class="btn btn-success" id="btn" >Envoyer</button>
  </div>
  
</form>
</div>
